body {
    margin : 0 0 0 0;
}

p {
    font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    min-height : 1em;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}




/*Background CSS*/
#toggle-wall-button {
    float : left;
    position : fixed;
    z-index : 10000;
    background-color : rgba(180, 225, 240, 1);
    padding: none;
    border : none;
    color: rgb(255, 255, 255);
    font-size : 1em;
    height : auto;
    width : auto;
}

#toggle-wall-button:hover {
    opacity : 1;
}

#background {
    position : fixed;
    min-width : 100%;
}


#background img {
    float :left;
    width : 100%;
    height : auto;
    /* Chrome, Safari, Opera */
    -webkit-filter: blur(2px) grayscale(100%) opacity(50%);
    filter: blur(2px) grayscale(100%) opacity(50%);


    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#background img:hover {
    /* Chrome, Safari, Opera */
    /*-webkit-filter: saturate(2) opacity(100%);
    filter: saturate(2) opacity(100%);*/
    -webkit-filter: none;
    filter: none;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

}

/*End Background CSS*/

/*Wall CSS*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {
/* Styles */
    #banner-container {
        position :relative;
        width : 95%;
        height : 8em;
        margin: 0 auto 0 auto;
        min-height : 220px;
        min-width : 440px;
    }
    #wall {
        min-width : 320px;
        max-width : 500px;
        position : relative;
        width : 60%;
        height : auto;
        background-color : rgba(255, 255, 255, 0.7);
        left : 50%;
        -webkit-transform: translate(-50%, 0);
         -moz-transform: translate(-50%, 0);
           -o-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
        transform : translate(-50%, 0);
        padding : .6em;
    }
}

@media only screen and (min-device-width : 481px) {
/* Styles */
    #banner-container {
        position :relative;
        width : 95%;
        min-width : 500px;
        height : 15em;
        min-height : 250px;
        margin: 0 auto 0 auto;
        overflow : hidden;
    }

    #wall {
        min-width : 500px;
        max-width : 500px;
        position : relative;
        width : 60%;
        height : auto;
        background-color : rgba(255, 255, 255, 0.7);
        left : 50%;
        -webkit-transform: translate(-50%, 0);
         -moz-transform: translate(-50%, 0);
           -o-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
        transform : translate(-50%, 0);
        padding : .6em;
    }
}



.banner-image {
    max-width : 100%;
    height : auto;
    position : absolute;
    left : 0;
    opacity : 0;

    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}



#square-table {
    position : relative;
    max-width: 100%;
    table-layout: fixed;
    width : 100%;
}

#square-table td {
    vertical-align : top;
}

.square {
    z-index : 1;
    background-color : rgba(50, 50, 240, .4);
    width : 100%
}

.square-title {
    margin : .1em 0 .1em 0;
    text-align : center;
}

.square-image {
    max-width : 100%;
    max-height : auto;
}

.square-description {
    font-size : .7em;
    margin : .1em 0 .1em 0;
    text-align : center;
}

/*End Wall CSS*/

/*Contact Footer CSS*/
#contact-footer {
    background-color : rgba(50, 50, 50, .7);
}

#contact-footer .section-header {
    font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size : 16pt;
}

#contact-footer p {
    margin : 0px 0px 0px .2em;
}

#contact-footer .icon::before {
    margin : .2em;
}

#contact-footer .email-icon::before{
    content: url('../images/icons/email-icon.png');
}

#copyright {
    position : absolute;
    bottom : 0;
    right : .3em;
}
/*End Contact Footer CSS*/
